body{
  margin: 0;
  background-color: whitesmoke;
}
header{
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #6441A5;
  background: linear-gradient(to right ,#2a0845, #6441A5);
}

header > img{
  height : 80%;
  margin: 5px;
}
header > h1{
  color: whitesmoke;
  font-size: 40px;
  margin-left: 15px;
  font-family: VT323, Monospace;
}
.meme{
  position: relative;
  width: 100%;
  margin-top: auto;
}
.meme > img {
  width: 100%;
}
.meme > h2{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translatex(-50%);
  margin: 15px 0;
  padding: 0 15px;
  font-family: impact, Sans-Serif;
  color: white;
  letter-spacing:3px;
  font-size: 2.2em;
  text-transform: uppercase;
  text-shadow: 
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 2px;
}
.meme > .top {
  top: 1px;
  
}
.meme-form > .toptext{
  width: 100%;
}

.meme-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 3px black solid;
}

.meme-form > input{
  height: 30px;
  width: 80%;
  outline-color: blue;
}
.meme-form > button{
  border: none;
  font-family: VT323,Monospace;
  font-size: 25px;
  color: white;
  background: #6441A5;
  letter-spacing: 1.5px;
  width: 18.85%;
  outline-color: red;
}
input::placeholder{
  font-family: Monospace;
  font-size: 25px;
}